@use "../variables" as *;

.input-icon-start .bookingrange{
    width: 220px;
    font-size: 14px;
}

ul{
    padding: 0px;
    li{
        list-style: none;
    }
}

.consultation-custom{
    .form-control{
        height: 38px;
    }
}

.invoice-table {
    tbody tr:nth-child(1),
    tbody tr:nth-child(2) {
      border: none;
  
      td {
        border: none !important;
      }
    }
}

p:last-child {
    margin-bottom: 0;
}